<div class="p-contact__item">
  <p><%= simple_format(contact.contact) %></p>
  <div class="p-contact__bottomLine">
    <span><%= contact.status %></span>
    <span><%= contact.created_at.to_s(:datetime_jp) %></span>
  </div>
</div>
