<div class="card" style="width: 36rem;">
  <div class="card-header">
    <h5><%= building.property_name %></h5>
    
  </div>
  <div class="card-body">
    <p class="card-text"><%= building.room_number %></p>
    <p class="text-right font-weight-bold mr-10"><%= building.customer_name %></p>
  </div>
</div>
